
{% extends 'base.html' %}

{% block title %}
Service
{% endblock title %}


{% block body1 %}


<div class="position-relative overflow-hidden p-3 p-md-3 m-md-2 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-4">
    <h1 class="display-2 font-weight-normal">Digital Marketing</h1>
    <p class="lead font-weight-normal">Infosys Digital Marketing practice helps enterprises build deeper customer relationships by delivering personalized experiences. We enable enterprises to achieve this by delivering relevant content resulting in improved customer wallet share.</p>
    <a class="btn btn-outline-secondary" href="#">More about Digital Marketing</a>

  <div class="product-device shadow-sm  d-md-block"></div>
  <div class="product-device product-device-3 shadow-sm d-none d-md-block"></div>
  </div>
</div>


<br>
<center><h1>Services provided by our company!</h1></center>
<br>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          	<img src="https://source.unsplash.com/user/erondu/1600x900/?HTML" class="card-img-top" alt="...">
            <div class="card-body">
            	<h4>Web Development</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          	<img src="https://source.unsplash.com/user/erondu/1600x900/?work" class="card-img-top" alt="...">
            <div class="card-body">
            	<h4>Marketing</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          	<img src="https://source.unsplash.com/user/erondu/1600x900/?pen" class="card-img-top" alt="...">
            <div class="card-body">
            	<h4>App Development</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          	<img src="https://source.unsplash.com/user/erondu/1600x900/?uncle" class="card-img-top" alt="...">
            <div class="card-body">
            	<h4>Designing</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          	<img src="https://source.unsplash.com/user/erondu/1600x900/?book,novel" class="card-img-top" alt="...">
            <div class="card-body">
            	<h4>Data Analytics</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          	<img src="https://source.unsplash.com/user/erondu/1600x900/?women,woman" class="card-img-top" alt="...">
            <div class="card-body">
            	<h4>Salesforce</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





{% endblock body1 %}
